body {
    background-color: #11111b;
    color: #cdd6f4;
    font-family: SanFran;
}

.sourceCode {
    font-family: SanFran;
    background-color: #1e1e2e;
}

/* Mash-up font of CatCafe and Yuji Syuku */
@font-face {
    font-family: Cafe;
    src: url(/style/YujiCafe) format("woff2");
}

/* Brilliant font from https://github.com/delphinus/homebrew-sfmono-square/tree/master */
@font-face {
    font-family: SanFran;
    src: url(/style/SF) format("woff2");
}
@font-face {
    font-family: SanFran;
    font-weight: bold;
    src: url(/style/SFBold) format("woff2");
}
@font-face {
    font-family: SanFran;
    font-style: italic;
    src: url(/style/SFItalic) format("woff2");
}